/* General styling for the navbar */
ul {
    list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: blue;
                
}

/* Styling the nav links (centered with rounded background) */
.menu {
    display: flex;
    justify-content: center;
    
    margin: 0 auto;
}


.menu li {
    padding: 0 40px;
}

.menu li a {
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.menu li a:hover {
    color: #555;
}